* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 100%;
  
}

:root {
  --primary-red : hsl(7, 99%, 70%);
  --primary-yellow : hsl(51, 100%, 49%);
  --primary-design-text : hsl(167, 40%, 24%);
  --primary-blue-photo-text : hsl(198, 62%, 26%);
  --primary-footer-cyan : hsl(168, 34%, 41%);
  --neutral-blue : hsl(212, 27%, 19%);
  --neutral-dark-grayish-blue : hsl(213, 9%, 39%);
  --neutral-dark-blue : hsl(232, 10%, 55%);
  --neutral-grayish-blue : hsl(210, 4%, 67%);
  --neutral-white : hsl(0, 0%, 100%);
  --font-barlow : 'Barlow', sans-serif;
  --font-fraunces : 'Fraunces', serif;
} 

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


header {
  height: 100vh;
  min-height: 50rem;
  background-image: url('images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.logo > img {
  height: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  align-items: center;
  column-gap: 2.5rem;

}

.navigation > div {
  color: var(--neutral-white);
  font-family: var(--font-barlow);
  font-size: 18px; 
}

.navigation > .contact {
  text-transform: uppercase;
  font-family: var(--font-fraunces);
  font-weight: 700;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.header-content {
  display: flex;
  justify-content: center;
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5rem;
  margin-top: 3rem;
  position: relative;
}

header > img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -60%);
}


.transform, .standout,
.gp-container {
  display: flex;
  height: 80vh;
  min-height: 33rem;
}

.transform-left,.transform-right,
.standout-left, .standout-right,
.graphics, .photography {
  width: 50%;
}

.transform-left,
.standout-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transform-heading,
.standout-heading {
  max-width:15ch;
  font-size: 2.5rem;
  font-family: var(--font-fraunces);
  font-weight: 900;
  color: var(--neutral-blue);
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.transform-content,
.standout-content {
  max-width: 44ch;
  font-size: 1.125rem;
  font-family: var(--font-barlow);
  color: var(--neutral-dark-blue);
  font-weight: 600;
  line-height: 2rem;
}

.transform-right > img,
.standout-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.graphics {
  background: url('images/desktop/image-graphic-design.jpg');

}

.photography {
  background: url('images/desktop/image-photography.jpg');
}

.graphics, 
.photography {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.graphics-container,
.photography-container {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
}



.photography-heading,
.graphics-heading {
  text-align: center;
  max-width:15ch;
  font-size: 2.5rem;
  font-family: var(--font-fraunces);
  font-weight: 900;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.photography-heading {
  color: var(--primary-blue-photo-text);
}

.graphics-heading {
  color: var(--primary-design-text);
}

.photography-content,
.graphics-content {
  max-width: 37ch;
  font-size: 1.125rem;
  font-family: var(--font-barlow);
  line-height: 2rem;
}

.photography-content {
  color: var(--primary-blue-photo-text);
}

.graphics-content {
  color: var(--primary-design-text);
}
